@import 'variables.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
